html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
body {
  padding: 0;
  margin: 0;
  color: #f0e7d5;
  font-weight: normal;
  background: #252525;
}
#body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #252525 url(../img/border.jpg) top left;
}
#body ul {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  margin: 0;
  margin-left: -25%;
  margin-top: -25%;
  list-style: none;
  padding: 0;
  border-width: 30px 50px;
  box-sizing: border-box;
  -webkit-border-image: url(../img/border.png) 300 300  repeat stretch;
  -moz-border-image: url(../img/border.png) 300 300  repeat stretch;
  border-image: url(../img/border.png) 300 300  repeat stretch;
}
#body ul li {
  text-align: center;
  vertical-align: middle;
  height: 18%;
}
#body ul li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #93bd20), color-stop(100%, #659e10));
  background: -webkit-linear-gradient(#93bd20, #659e10);
  background: -moz-linear-gradient(#93bd20, #659e10);
  background: -o-linear-gradient(#93bd20, #659e10);
  background: -ms-linear-gradient(#93bd20, #659e10);
  background: linear-gradient(#93bd20, #659e10);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: inset 0px 1px 3px rgba(255, 255, 255, 0.3), 0px 3px 7px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: inset 0px 1px 3px rgba(255, 255, 255, 0.3), 0px 3px 7px rgba(0, 0, 0, 0.7);
  -o-box-shadow: inset 0px 1px 3px rgba(255, 255, 255, 0.3), 0px 3px 7px rgba(0, 0, 0, 0.7);
  box-shadow: inset 0px 1px 3px rgba(255, 255, 255, 0.3), 0px 3px 7px rgba(0, 0, 0, 0.7);
  background-color: #93bd20;
  line-height: 100%;
  font-size: 44px;
  vertical-align: center;
  font-family: 'Source Code Pro', monospace;
  text-shadow: 0 0 10px #000;
}
#body ul li a:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #749619), color-stop(100%, #527f0e));
  background: -webkit-linear-gradient(#749619, #527f0e);
  background: -moz-linear-gradient(#749619, #527f0e);
  background: -o-linear-gradient(#749619, #527f0e);
  background: -ms-linear-gradient(#749619, #527f0e);
  background: linear-gradient(#749619, #527f0e);
  background-color: #659e10;
  -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(0, 0, 0, 0);
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(0, 0, 0, 0);
  -o-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(0, 0, 0, 0);
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(0, 0, 0, 0);
}